@keyframes title {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

.pokemon_title {
    animation: title 2s ease-in-out infinite;
}

.profil{
    animation: title 2s ease-in-out infinite;
}
