@font-face {
    font-family: Mainstay;
    src: url(./fonts/Mainstay.otf);
}
    

#page{
    background-color: #000080;
}

#pokemon_logo{
    text-align: center;
    padding-bottom: 100px;
}


.pokemon_title{
    width: 500px;
    margin: -154px;
}

#pokeImg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

img{
    width: 300px;
}

img:hover{
    width: 400px;
    cursor: pointer;
    transform: scale(1.1);
}

.img-border{
    border: 2px solid black;
}

.card-body{
    background-color: rgb(70, 113, 115);
}

.pokemon-container {
    border: 2px solid rgb(213, 245, 8);
    border-radius: 10px;

    padding: 10px; 
    text-align: center; 
    margin-bottom: 66px;


}

.register-container{
    text-align: center;
}

.form-control{
    margin-bottom: 10px;
    align-items: center;
}
body{
    background-color: #000080;
}

.user{
    display: flex;
}

h1{
    margin-bottom: 80px;

    font-weight: bold;
    color: yellow;
    font-family:Mainstay;
}
label{
    font-weight: bold;
    color: yellow;
    font-family:Mainstay;
}

input{
    border-radius: 10px;

    padding-right: 50px;
    padding-bottom: 10px;

    font-family:Mainstay;
}

.submit{
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

.submit:hover{
    background-color: yellow;
    cursor: pointer;
}

